@import "tailwindcss";
@plugin "daisyui";


html, body, #root {
  background-color: white;
}

@keyframes scroll {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

